<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>321人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
	<dict>
		<key>content</key>
		<string>直播内容简介直播内容简介直播内容简介</string>
		<key>customerCount</key>
		<string>123人正在看</string>
		<key>time</key>
		<string>01:02:03</string>
		<key>videoName</key>
		<string>直播名称</string>
		<key>imageName</key>
		<string>preview176*160</string>
	</dict>
</array>
</plist>
