<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>韦小宝</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>张三丰</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>张无忌</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>乔峰</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>慕容</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>郭靖</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>黄蓉</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>杨过</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>12:12</string>
		<key>userName</key>
		<string>小龙女</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>10:10</string>
		<key>userName</key>
		<string>黄药师</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论</string>
		<key>time</key>
		<string>9:50</string>
		<key>userName</key>
		<string>东邪</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>avatar60</string>
		<key>content</key>
		<string>评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容</string>
		<key>time</key>
		<string>8:30</string>
		<key>userName</key>
		<string>西毒</string>
	</dict>
</array>
</plist>
